.all-page {
  height: 100vh;
}

.all-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 10px;
}

.new-article {
  background-color: lightgray;
  padding: 10px;
}

.one-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}
