.one-content {
  display: flex;
  justify-content: center;
}

.one-editable {
  background-color: lightgray;
}
.editing-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whole-article {
  width: 18.5cm;
  height: 10.5cm;
  border: 1px solid black;
  padding: 0.1cm;
}

#title-container {
  max-height: 57px;
}

#title {
  width: 100%;

  border: 1px solid slategray;
  text-align: start;
}

h1#title {
  font-size: 1.2cm;
}

#chapeau-container {
  max-height: 1cm;
}

#chapeau {
  width: 100%;
  max-height: 1cm;
  margin: 0.2cm 0;
  border: 1px solid slategray;
  text-align: start;
  overflow: hidden;
  text-overflow: clip;
}

h3#chapeau {
  font-size: 0.4cm;
}

#content-container {
  max-height: 280px;
  border: 1px solid slategray;
}

#content {
  -webkit-column-count: 3; /* Opera, Safari, Google Chrome */
  -moz-column-count: 3; /* Firefox */
  column-count: 3; /* Internet Explorer */
  height: 280px;
  text-align: justify;
  column-fill: auto;
}

p#content {
  text-indent: 0.2cm;
}

#name-container {
  margin: 10px;
  font-size: 2em;
  text-align: center;
  width: 200px;
  max-height: 40px;
}

#name {
  min-width: 200px;
}

.hovering:hover {
  background-color: white;
}

.hovering:focus {
  background-color: white;
}
